<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vroom | 2x01 </title>
    <meta name="Module" content="ICT2104: Web Dashboard (For Software Eng. Mod)">
    <meta name="description" content="Web Application portal for Vroom Vroom">
    <!-- Favicon link -->
    <link rel="icon" type="image/png" href="https://img.icons8.com/external-itim2101-lineal-color-itim2101/64/000000/external-robot-engineering-itim2101-lineal-color-itim2101.png"/>
    <!-- Tailwind Used for Dashboard -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body class="antialiased font-body">
    <main>
        <section class="absolute w-full h-full">
            <div class="absolute top-0 w-full h-full"
                style="background-image: url('https://res.cloudinary.com/dufhec86w/image/upload/v1636442938/2101/wallE_spbw5z.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            </div>
            <div class="container mx-auto px-4 h-full">
                <div class=" bg-gray-100 flex content-center items-center justify-center h-full">
                    <div class="w-full lg:w-4/12 px-4">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>